.sidebar {
	width: 60px;
	height: 100vh;
	background-color: #8489dd;
	color: #ecf0f1;
	padding: 20px 0;
	transition: width 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.sidebar.expanded {
	width: 200px;
}

.sidebar-icon {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;
}

.logo {
	width: 40px;
	transition: width 0.1s ease-in-out;
}

.sidebar-title {
	margin-left: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ecf0f1;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.menu-container {
	width: 100%;
	flex: 1;
}

.sidebar-link {
	width: 100%;
	background-color: #8489dd;
	color: #ecf0f1;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
	transition: background-color 0.3s ease;
	margin-bottom: 20px;
}

.sidebar-link:hover {
	background-color: #34495e;
}

.link-text {
	margin-left: 15px;
	font-size: 16px;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.mobile-menu-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
	z-index: 1000;
}

.close-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	padding-left: 20px;
}

.sidebar.expanded .dropdown-content {
	display: block;
}

.sidebar .dropdown-content {
	display: none;
}

.sidebar.expanded .dropdown-content {
	display: block;
}

.sidebar.expanded .link-text {
	display: inline;
}

.sidebar:not(.expanded) .link-text {
	display: none;
}

@media (max-width: 600px) {
	.sidebar {
		width: 0;
		overflow-x: hidden;
		transition: width 0.3s ease-in-out;
	}

	.sidebar.expanded {
		width: 200px;
	}

	.sidebar.open {
		width: 200px;
	}

	.sidebar-title {
		font-size: 16px;
	}

	.link-text {
		font-size: 14px;
	}

	.mobile-menu-icon {
		display: block;
		width: 100%; /* Ensure it takes up the full width */
		justify-content: center; /* Center the icon horizontally if using flex */
		align-items: center; /* Center the icon vertically if using flex */
	}
}
